# etc folders
.vscode/
node_modules/

# images
bot/images/common
bot/images/uncommon
bot/images/rare
bot/images/special
bot/images/impossible
bot/images/emojis
bot/images/cat_o_mighty_pfp.jpg
bot/images/ghostcat.jpg

# just info
INFO.txt
templateCats.json

# secret data stuff
.env
