# etc folders
.vscode/
node_modules/
website/

# images
images/common
images/uncommon
images/rare
images/special
images/impossible
images/emojis
images/cat_o_mighty_pfp.jpg

# just info
INFO.txt
templateCats.json

# secret data stuff
.env